@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=EB+Garamond&family=Great+Vibes&family=Pacifico&family=Satisfy&family=Shadows+Into+Light&family=Special+Elite&family=Zen+Loop&display=swap');
// font-family: 'Amatic SC', cursive;

// font-family: 'EB Garamond', serif;

// font-family: 'Great Vibes', cursive;

// font-family: 'Pacifico', cursive;

// font-family: 'Satisfy', cursive;

// font-family: 'Shadows Into Light', cursive;

// font-family: 'Special Elite', cursive;

// font-family: 'Zen Loop', cursive;
:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url('./images/coastalbackgroundimage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  // width: 200px;
  height: 100vh;
}

header {
  background-color: white;
  // position: sticky;b
  top: 0;
  opacity: 0.8;
  display: flex;
  border-bottom: solid 2px;
  height: 4rem;
}

div.headerlinks a h3.h3songslist {
  margin-top: -1rem;
}

div.headerlinks a {
  margin-top: -3px;
}

h3 {
  margin-left: 3rem;
}

.h3songslist {
  margin-top: 0rem;
}

.headerlinks {
  display: flex;
  flex-direction: column;
}

.par-button {
  display: flex;
  flex-direction: row;
}

.search {
  margin-left: 6rem;
}

.checkheader {
  font-family: 'Satisfy', cursive;
  // text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
  padding-left: 7rem;
  border-bottom: solid 1.5px;
}

.checkbox {
  display: flex;
  flex-direction: column;
  font-family: 'Special Elite', cursive;
  box-shadow: 0 10px 8px #0003;
  width: 22%;
  height: 39rem;
  background-color: #d5562be0;
  overflow: scroll;
  margin-left: 3rem;
  border: solid;
  border-radius: 10px;
  margin-top: -19px;
}

p {
  color: #000000e0;
  background-color: white;
  width: 31rem;
  margin-left: 12rem;
  margin-left: 14rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 3rem;
  opacity: 0.7;
  border-radius: 10px;
  border: solid 3px rgb(72, 68, 68);
}

.submit-par {
  display: flex;
  margin-top: 1rem;
}

.header {
  text-align: center;
  font-family: 'EB Garamond', serif;
  opacity: 0.7;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  margin-top: 0px;
  padding-left: 25rem;
}

label {
  line-height: 1rem;
  // background-color: #d5562be0;
  padding-left: 14px;
  margin-top: 1rem;
}

label span.checkheader {
  font-size: 2rem;
}

span {
  font-family: 'Courier New', Courier, monospace;
}

button {
  background-color: rgb(38, 32, 32);
  border-radius: 10px;
  color: #d5562be0;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  margin-left: 8rem;
  height: 3rem;
  margin-top: 0.5rem;
}

.footer {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  background-color: white;
  font-family: 'Satisfy', cursive;
  text-align: center;
  opacity: 0.7;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 37rem;
  // padding-top: 10px;
}

h2 {
  align-content: center;
}

.users {
  background-color: none;
  text-align: center;
}

.songslistheader {
  text-align: center;
  font-family: 'EB Garamond', serif;
}

.forms {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  background-color: white;
  opacity: 0.7;
}

.songslistform {
  text-align: center;
  margin-bottom: 1rem;
}

.songslistp {
  text-align: center;
  padding-right: 3rem;
  margin-left: 24rem;
  width: 35rem;
  height: 4rem;
  padding-top: 1rem;
  opacity: 0.9;
}

.textarea {
  width: 479px;
  height: 98px;
  margin-left: 1rem;
  margin-top: -1.5rem;
  margin-bottom: -0.75rem;
}

.newsongslist {
  text-align: center;
  background-color: #d5562be0;
  opacity: 0.9;
  height: 10rem;
  margin-left: 26rem;
  width: 38rem;
}

div.songslistform input {
  margin-left: 0rem;
}

.checkboxsongslist {
  display: flex;
  flex-direction: column;
  font-family: 'Special Elite', cursive;
  box-shadow: 0 10px 8px #0003;
  width: 22%;
  height: 39rem;
  background-color: #d5562be0;
  overflow: scroll;
  margin-left: 1rem;
  border: solid;
  border-radius: 10px;
  margin-top: -19px;
}

div.checkboxsongslist {
  margin-left: 35rem;
  margin-top: 1rem;
  text-align: left;
  width: 23rem;
  height: 28rem;
}

.submitsongslist {
  background-color: #262020;
  border-radius: 10px;
  color: #d5562be0;
  height: 3rem;
  width: 6rem;
}

.pandcheckbox {
  display: flex;
  flex-direction: row;
  margin-top: -1rem;
}

.deletesongsp {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 19.5rem;
  padding-top: 8rem;
}

.pandcheckbox p {
  margin-left: 24rem;
  margin-right: -34rem;
  width: 15rem;
  height: 19.5rem;
  opacity: 0.9;
}

@media all and (max-width: 494px) {
  a h3 {
    padding-top: 0px;
    margin-left: 8px;
    margin-bottom: 6px;
  }

  .headerlinks {
    margin-top: 1rem;
  }

  div.headerlinks a {
    margin-top: 0rem;
    margin-bottom: -1rem;
    margin-top: 0rem;
    margin-bottom: -1rem;
  }
  .search {
    margin-left: 6rem;
  }
  h3 {
    font-size: 12px;
    padding-top: 8px;
  }
  .header {
    padding-left: 2rem;
  }

  // .headerlinks a h3 {
  //   padding-top: 0px;
  // }
  h1 {
    font-size: 16px;
  }
  .checkbox {
    font-size: 16px;
    width: 17rem;
    height: 34rem;
    overflow: scroll;
    padding-left: 8px;
    margin-left: 3rem;
  }

  .checkheader {
    padding-bottom: 0.5rem;
    width: 12rem;
    margin-left: -1rem;
  }

  div.checkboxsongslist {
    margin-left: 2rem;
    margin-top: 1rem;
    text-align: left;
    width: 28rem;
    height: 28rem;
    margin-right: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }

  input {
    margin-left: 0rem;
  }

  span {
    font-size: 12px;
  }

  label span.checkheader {
    font-size: 18px;
    padding-left: 4.8rem;
  }

  button {
    background-color: rgb(38, 32, 32);
    border-radius: 10px;
    color: #d5562be0;
    padding: 6px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    margin-left: 1rem;
  }

  label {
    line-height: 1.5rem;
    // background-color: #d5562be0;
    padding-left: 2px;
    margin-top: 0rem;
  }

  p {
    // display: flex;
    color: #000000e0;
    background-color: white;
    width: 15rem;
    margin-left: 1rem;
    padding-left: 1.75rem;
    padding-top: 14px;
    padding-bottom: 0.5rem;
    opacity: 0.7;
    font-size: 12px;
    height: 2.1rem;
    margin-top: 0rem;
  }
  body {
    margin: 0;
    min-height: 100%;
    background-image: url('./images/coastaljtree.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // width: 200px;
    height: 100vh;
  }

  .link {
    padding-left: 0rem;
  }

  .git {
    padding-right: 0rem;
  }

  .footer {
    margin-top: 1rem;
    padding-left: 3rem;
  }

  .linkimage {
    width: 30px;
    height: 30px;
    padding-left: 3rem;
  }

  .gitimage {
    width: 30px;
    height: 30px;
    padding-right: 3rem;
  }

  h2 {
    font-size: 15px;
  }

  .songslistp {
    text-align: center;
    padding-right: 3rem;
    margin-left: 14px;
    width: 17rem;
    height: 4rem;
    padding-top: 1rem;
    opacity: 0.9;
  }

  .textarea {
    width: 20rem;
    height: 98px;
    margin-left: 0rem;
  }
}
