@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow+Semi+Condensed:wght@100&family=Bebas+Neue&family=EB+Garamond&family=Great+Vibes&family=Macondo&family=Pacifico&family=Patrick+Hand&family=Permanent+Marker&family=Satisfy&family=Shadows+Into+Light&family=Special+Elite&family=Zen+Loop&display=swap');
// font-family: 'Amatic SC', cursive;

// font-family: 'Barlow Semi Condensed', sans-serif;

// font-family: 'Bebas Neue', cursive;

// font-family: 'EB Garamond', serif;

// font-family: 'Great Vibes', cursive;

// font-family: 'Macondo', cursive;

// font-family: 'Pacifico', cursive;

// font-family: 'Patrick Hand', cursive;

// font-family: 'Permanent Marker', cursive;

// font-family: 'Satisfy', cursive;

// font-family: 'Shadows Into Light', cursive;

// font-family: 'Special Elite', cursive;

// font-family: 'Zen Loop', cursive;

// ------------------------------------------------------------------------------------------------------------------------------------------------------------

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url('./images/coastalbackgroundimage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  // width: 200px;
  height: 100vh;
}

// --------------------------------------------------------------------------------------------------------------------------------------------------------
// Navbar
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: center;
  // opacity: 0.9;
  border-bottom: solid black;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #d5562be0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Bebas Neue', cursive;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #d5562be0;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #333;
  color: #d5562be0;
}
// Navbar
// --------------------------------------------------------------------------------------------------------------------------------------------------------

header {
  background-color: white;
  // position: sticky;b
  top: 0;
  opacity: 0.8;
  display: flex;
  border-bottom: solid 2px;
  height: 5rem;
  display: flex;
  justify-content: center;
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 5rem;
  margin-top: 0rem;
}

.h3songslist {
  margin-top: 0rem;
}

.headerlinks {
  display: flex;
  flex-direction: column;
}

.pheader {
  margin-left: 3rem;
  width: 4rem;
}

// .songlistpar {
//   margin-left: 54px;
// }

.par-button {
  display: flex;
  flex-direction: row;
}

.submitsongs {
  font-family: 'Bebas Neue', cursive;
  font-size: 1rem;
}

.search {
  margin-left: 0rem;
  margin-top: 0rem;
}

.midofpage {
  margin-left: 34rem;
  background-color: #d5562be0;
  width: 23rem;
  height: 14rem;
  padding: 1rem;
  border: solid;
  border-radius: 2rem;
}

.checkheader {
  font-family: 'Amatic SC', cursive;
  // text-align: center;
  font-size: 37px;
  padding-top: 1rem;
  padding-left: 7rem;
  border-bottom: solid 1.5px;
}

.checkbox {
  display: flex;
  flex-direction: column;
  font-family: 'Special Elite', cursive;
  box-shadow: 0 10px 8px #0003;
  width: 24%;
  height: 32rem;
  background-color: #d5562be0;
  overflow: scroll;
  margin-left: 3rem;
  border: solid;
  border-radius: 10px;
  margin-top: 1rem;
}

.instructions-p {
  color: #ead9d9;
  background-color: #333;
  width: 31rem;
  // margin-left: 28rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 3rem;
  opacity: 0.9;
  border-radius: 10px;
  border: solid 3px #484444;
  display: flex;
  flex-direction: column;
  margin-left: 26rem;
}

.submit-par {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  width: 22rem;
}

label {
  line-height: 1rem;
  // background-color: #d5562be0;
  padding-left: 14px;
  margin-top: 1rem;
}

label span.checkheader {
  font-size: 2rem;
}

span {
  font-family: 'Courier New', Courier, monospace;
}

.leftside {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.searchbar {
  margin-left: 3rem;
  margin-top: 1rem;
}
button {
  background-color: rgb(38, 32, 32);
  border-radius: 10px;
  color: #d5562be0;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  margin-left: 8rem;
  height: 3rem;
  margin-top: 0.5rem;
  width: 8rem;
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: white;
  font-family: 'Satisfy', cursive;
  text-align: center;
  opacity: 0.7;
  padding-top: 5px;
  justify-content: center;
  margin-top: 2rem;
}

h2 {
  align-content: center;
}

.users {
  background-color: none;
  text-align: center;
}

.mb-4 {
  text-align: center;
}
.songslistheader {
  text-align: center;
  font-family: 'EB Garamond', serif;
  background-color: white;
  width: 17rem;
  border-radius: 1rem;
  height: 35px;
  padding-top: 10px;
  margin-left: 36rem;
  opacity: 0.8;
}

.forms {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  background-color: white;
  opacity: 0.7;
}

.songslistform {
  text-align: center;
  margin-bottom: 1rem;
}

.songslistp {
  text-align: center;
  padding-right: 3rem;
  margin-left: 24rem;
  width: 35rem;
  height: 5rem;
  padding-top: 1rem;
  opacity: 0.9;
  background-color: white;
  border-radius: 1rem;
  padding-left: 3rem;
}

.textarea {
  width: 479px;
  height: 98px;
  margin-left: 1rem;
  margin-top: -1.5rem;
  margin-bottom: -0.75rem;
}

.newsongslist {
  text-align: center;
  background-color: #d5562be0;
  opacity: 0.9;
  height: 10rem;
  margin-left: 26rem;
  width: 38rem;
}

div.songslistform input {
  margin-left: 0rem;
}

.checkboxsongslist {
  display: flex;
  flex-direction: column;
  font-family: 'Special Elite', cursive;
  box-shadow: 0 10px 8px #0003;
  width: 22%;
  height: 39rem;
  background-color: #d5562be0;
  overflow: scroll;
  margin-left: 1rem;
  border: solid;
  border-radius: 10px;
  margin-top: -19px;
}

div.checkboxsongslist {
  margin-left: 33rem;
  margin-top: 1rem;
  text-align: left;
  width: 22rem;
  height: 28rem;
}

.submitsongslist {
  background-color: #262020;
  border-radius: 10px;
  color: #d5562be0;
  height: 3rem;
  width: 6rem;
}

.deletesongsp {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 19.5rem;
  padding-top: 8rem;
}

.pandcheckbox p {
  margin-left: 24rem;
  margin-right: -34rem;
  width: 15rem;
  height: 19.5rem;
  opacity: 0.9;
}

.h5 {
  width: 22rem;
  font-family: 'EB Garamond', serif;
  font-size: 22px;
  margin-top: 0rem;
}

// --------------------------// ------------------------------------------------------------------------------
// SignUp Page

.psignup {
}

// --------------------------// --------------------------------------------------------------------------------------------------------
// Sign In Page

.p-sign-in {
  color: red;
}

.signup-form {
  background-color: white;
  opacity: 0.8;
}

// --------------------------// --------------------------------------------------------------------------------------------------------
// @MEDIA (responsive)

@media all and (max-width: 494px) {
  a h3 {
    padding-top: 0px;
    margin-left: 8px;
    margin-bottom: 6px;
  }

  header {
    background-color: #776d6d;
    top: 0;
    opacity: 0.8;
    display: flex;
    border-bottom: solid 3px;
    height: 3rem;
    padding-top: 3px;
  }

  .songslistheader {
    text-align: center;
    font-family: 'EB Garamond', serif;
    background-color: white;
    width: 17rem;
    border-radius: 1rem;
    height: 35px;
    padding-top: 10px;
    margin-left: 56px;
    opacity: 0.8;
  }

  .topnav a {
    float: left;
    color: #d5562be0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Spline Sans Mono', monospace;
  }

  h5 {
    padding-top: 0rem;
  }

  .leftside {
    margin-top: -17rem;
  }

  .submit-par {
    margin-top: 16rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
  }

  div.headerlinks a {
    margin-top: 0rem;
    margin-bottom: -1rem;
    margin-top: 0rem;
    margin-bottom: -1rem;
  }
  .search {
    margin-left: 0rem;
    margin-top: 0rem;
    width: 13rem;
  }

  .instructions-p {
    // margin-left: 11px;
    padding-left: 1rem;
    width: 21rem;
    // height: 72px;
    padding-top: 1rem;
    margin-left: 0.5rem;
    margin-top: -1rem;
  }

  .submitlink {
    background-color: red;
  }

  .midofpage {
    margin-left: 0rem;
    background-color: #d5562be0;
    width: 23rem;
    height: 14rem;
    padding: 1rem;
    border: solid;
    border-radius: 2rem;
  }
  h3 {
    font-size: 12px;
    padding-top: 8px;
  }

  h1 {
    font-size: 37px;
    padding-bottom: 3rem;
  }
  .checkbox {
    font-size: 16px;
    width: 17rem;
    height: 32rem;
    overflow: scroll;
    padding-left: 8px;
    margin-left: 3rem;
    margin-top: 0rem;
  }

  .checkheader {
    font-size: 39px;
    padding-top: 1rem;
    padding-left: 5rem;
    border-bottom: solid 1.5px;
    font-family: 'Amatic SC', cursive;
  }

  div.checkboxsongslist {
    margin-left: 25px;
    margin-top: 1rem;
    text-align: left;
    width: 18rem;
    height: 28rem;
    margin-right: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }

  input {
    margin-left: 0rem;
  }

  span {
    font-size: 12px;
  }

  label span.checkheader {
    font-size: 18px;
    padding-left: 4.8rem;
  }

  button {
    background-color: rgb(38, 32, 32);
    border-radius: 10px;
    color: #d5562be0;
    padding: 6px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    width: 6rem;
    margin-top: 0.5rem;
  }

  label {
    line-height: 1.5rem;
    // background-color: #d5562be0;
    padding-left: 2px;
    margin-top: 0rem;
  }

  p {
    // display: flex;
    color: #000000e0;
    background-color: white;
    width: 15rem;
    margin-left: 1rem;
    padding-left: 1.75rem;
    padding-top: 14px;
    padding-bottom: 0.5rem;
    opacity: 0.7;
    font-size: 12px;
    height: 2.1rem;
    margin-top: 0rem;
  }
  body {
    margin: 0;
    min-height: 100%;
    background-image: url('./images/coastaljtree.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // width: 200px;
    height: 100vh;
  }

  .link {
    padding-left: 0rem;
  }

  .git {
    padding-right: 0rem;
  }

  .footer {
    margin-top: 1rem;
    position: absolute;
    bottom: -3rem;
    width: 100%;
    height: 2.5rem;
  }

  .linkimage {
    width: 30px;
    height: 30px;
    padding-left: 3rem;
  }

  .gitimage {
    width: 30px;
    height: 30px;
    padding-right: 3rem;
  }

  h2 {
    font-size: 15px;
  }

  .songslistp {
    text-align: center;
    padding-right: 3rem;
    margin-left: 6px;
    width: 17rem;
    height: 4rem;
    padding-top: 1rem;
    opacity: 0.9;
  }

  .textarea {
    width: 20rem;
    height: 98px;
    margin-left: 0rem;
  }
}
